### TeX
*.aux
*.glo
*.idx
*.fdb_latexmk
*.fls
*.fmt
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.swp
*.synctex.gz
_minted-*/

